/* index.css */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1;
  color: #1a1a1a;
  background: #f7f8fa;
}

button {
  font: inherit;
  cursor: pointer;
  width: fit-content;
  padding: 4px;
}

input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.basic-vertical-section {
  display: flex;
  flex-direction: column;
}

.vertical-column-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vertical-column-12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vertical-column-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vertical-column-4 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.horizontal-row-centered-16 {
  display: flex;
  flex-direction: row; 
  gap: 16px;
}

.horizontal-row-centered-0 {
  display: flex;
  flex-direction: column;
}

.formula-item {
  padding: 8px;
  width: fit-content;
  background-color: gainsboro;
}

/* table */
.over-ifra-cell {
  color: firebrick;
}

.basic-table-header {
  padding: 8px;
  text-align: left;
  border: 1px solid gainsboro;
}

.basic-table-cell {
  padding: 8px;
  border: 1px solid gainsboro;
}

.table-select {
  width: 100%;
}

.table-dropdown {

}

.table-header-preview-active {
  color: forestgreen;
}

.ethanol-container {
  padding: 8px;
  max-width: 50%;
}

.red-text {
  color: firebrick;
}

/* modals */

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: white;
  min-width: 300px;
}

.modal-button-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: flex-end;
}